/*Main "background-color" for the webpage*/
body {
    background-color: rgb(204, 215, 224) !important;
}

/*Creates a flexbox for the primary components of the page: the search menu and the results display; these 
appear side-by-side*/
main {
    display: flex;
    flex-direction: row;
}

/*Formatting for Jumbotron*/
.jumbotron {
    color: black;
    font-weight: bolder;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-bottom: 2px !important;
    margin-top: 2px;
}

#small-menu {
    display: none !important;
    padding: 0 !important;
}

#small-menu form {
    height: 275px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* .form-inline button {
    margin-top: 10px;
} */

#nav-buttons {
    margin-left: 45px;
}

#small-menu button {
    border: none !important;
    color: black !important;
    margin: 4px !important;
}

#image-small {
    width: 50px;
}

#input-small {
    width: 200px;
    margin-top: 6px;
}

#image-input {
    display: flex;
    flex-direction: row;
}

.word-button {
    border: none;
    margin-top: 5px; 
    margin-bottom: 5px; 
    height: 80px; 
    width: 138px; 
    border-radius: 5px; 
    margin-left: 5px; 
    cursor: pointer; 
    display: flex;
    align-items: center; 
    justify-content: center;
}
/* 
#history-small .word-button {
    border: none;
    margin-top: 0px; 
    margin-bottom: 5px; 
    height: 20px; 
    width: 138px; 
    border-radius: 5px; 
    margin-left: 5px; 
    cursor: pointer; 
    display: flex;
    align-items: center; 
    justify-content: center;
} */

/* nav img {
    width: 20px;
} */

/*The "#start-image" element is used as a default display prior to search. It is set to "display: none" once a search has begun.
The "background-image" is a photograph of the temporary lending library used during alterations to the Newcastle-upon-Tyne
Central Library made in 1949. This was downloaded from Flickr: https://www.flickr.com/photos/newcastlelibraries/4081723214 
(site last visited 15 February 2023).*/
#start-image {
    background-image: url(../images/newcastle-library.jpg);
    width: 100%;
    background-size: cover;
    height: 1000px;
}

/*Formatting for the search form*/
.search-field {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: center;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    color: black;
    background-color: rgba(102, 102, 119, 0.432);
    text-align: center;
    margin-top: 10px;
}

#search-button {
    color: black;
}

/*Centers the gif for the main search term*/
#gif-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Centers the gif for the rhyming term*/
#gif-rhyme {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Font color for the results headings*/
.sectionHeading {
    color: white;
    text-align: center;
}

/*Padding for the two main results displays*/
.container-fluid {
    padding-top: 10px;
}

/*Media queries to adjust the size of the Jumbotron font for medium and smaller screen sizes*/
@media only screen and (max-width: 925px) {
    .jumbotron h1 {
        font-size: 20px;
    }
    .jumbotron p {
        font-size: 10px;
    }
    #menu {
        display: none !important;
    }
    #small-menu {
        display: initial !important;
    }
    #history {
        display: none !important;
    }
    .word-button {
        border: none;
        margin-top: 0px; 
        margin-bottom: 5px; 
        height: 20px; 
        width: 138px; 
        border-radius: 5px; 
        margin-left: 5px; 
        cursor: pointer; 
        display: flex;
        align-items: center; 
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    .jumbotron p {
        display: none;
    }
}