.jumbotron {
    color: black;
    font-weight: bolder;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-bottom: 2px !important;
    margin-top: 2px;
}

.background-image {
    height: 50px;
}

.lead {
    background-color: rgba(102, 102, 119, 0.432);
    text-align: center;
    color: bisque;
    font-weight: bolder;
    /* margin-top: 35px; */
}

body {
    background-color: rgb(204, 215, 224) !important;
}

.search-field {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: center;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-card {
    display: flex;
    align-items: center;
    justify-content: center;
}


#definition {
    background-position: center;
    background-size: cover;
    background-size: contain;
}

footer {
    color: black;
    background-color: rgba(102, 102, 119, 0.432);
    text-align: center;
    margin-top: 10px;
    /* padding: 10px; */
}

h3 {
    color: white;
}

h4 {
    color: white;
}

#search-button {
    color: black;
}

#footnote {
    color: white;
}

#gif-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gif-rhyme {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionHeading {
    color: white;
}

.container-fluid {
    padding-top: 40px;
}